body
	background-color: #1CAC78
header
	position: relative
	
nav
	position: fixed
	width: 100%
	height: 50px
	background-color: #000
	z-index: 3
.container
	background-color: rgba(0, 0, 0, 0.7)	
.menu
	h1
		font-size: 20px
		margin-bottom: 0px
		color: green
		cursor: default
	display: flex
	justify-content: space-between
	margin-top: 11px
	list-style-type: none
	padding-left: 0
	&_link
		text-decoration: none
		color: #fff
		&:hover
			color: green
.start
	background-image: linear-gradient(to right, #9d09dc, #7de2df)
	position: relative
	min-height: 100px
	h1
		padding-top: 70px
		text-align: center
		color: green
		padding-bottom: 50px
	.descr
		margin-left: 20px
		font-size: 18px
		width: 800px
		color: #68d9b8
	.zalupa
		position: absolute
		margin-top: -1101px
		margin-left: 829px
		width: 433px
		height: 350px
	.zalupa2
		position: absolute
		margin-top: -722px
		margin-left: 829px
		width: 433px
		height: 350px
	.zalupa3
		position: absolute
		margin-top: -340px
		margin-left: 829px
		width: 433px
		height: 330px
.istoria
	padding-top: 50px;